*.o
*.elf
*.map
*.d
*.bak
*.i
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/.mhc_backup
**/*.X/debug
**/*.X/dist
**/*.X/build
**/*.IAR/Debug

**/*.IAR/settings

**/*.IAR/*.dep

**/*.IAR/*.custom_argvars
**/.history/*
**/.vscode/*

